/* =================================
   PANELS / PANEL
   ================================= */

.panel {

    position: relative;
    // padding: remCalc(35) 0 remCalc(35) 0; 
    padding: remCalc(45) 0 remCalc(45) 0; 
    border-bottom: remCalc(2) solid $yellow;

    // background properties applied to all panels with images
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;

    // over write Bootstrap class so that .mask sits over .container without overlaying text
    .container {
        position: relative;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(35,182,234,0.675);
    }

    h1 {
        font-size: remCalc(24); 
        font-family: 'Roberto', sans-serif; 
        padding-top: remCalc(20); 
        text-align: left; 
        color: $yellow; 
    }

    p {
        font-size: remCalc(18); 
        font-family: 'Lato', sans-serif;
        padding-top: remCalc(10);
        color: #fff;
    }

    &.no-bg-image {

        p {
            color: $brown;
        }
    }
}