/* =================================
   PANELS / PANEL
   ================================= */

.panel {

    position: relative;
    padding: remCalc(35) 0 remCalc(35) 0; 
    border-bottom: remCalc(2) solid $yellow;

    // over write Bootstrap class so that .mask sits over .container without overlaying text
    .container {
        position: relative;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(35,182,234,0.6);
    }

    h1 {
        font-size: remCalc(24); 
        font-family: 'Roberto', sans-serif; 
        padding-top: remCalc(20); 
        text-align: left; 
        color: $yellow; 
    }

    p {
        font-size: remCalc(18); 
        font-family: 'Lato', sans-serif;
        padding-top: remCalc(10);
        color: #fff;
    }

    &.no-bg-image {

        p {
            color: $brown;
        }
    }
}

#meetus{
    // background:url('../img/kym-steve.jpg') 50% 0 no-repeat fixed;

    background-image: url('../img/kym-steve.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    color: #fff;
}

#clean {
    background: #fff;
}

#clean-list {
    // background: url('../img/sponge.png') 50% 0 no-repeat fixed;

    background-image: url('../img/sponge.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#garden {
    background: #fff;
}

#garden-list {
    // background: url('../img/mower.png') 50% 0 no-repeat fixed;

    background-image: url('../img/mower.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



