/* =================================
   SLIDES / SLIDES
   ================================= */

.quotes {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin: 30px auto 20px auto;
}

.author_name_white { 
    font-family:"Wellfleet"; 
    margin: 70px 0 0 75px; 
    color: #fff; 
    font-size: 20px;
} 

.author_name_gray { 
    font-family:"Wellfleet"; 
    margin: 70px 0 0 75px; 
    color: #94a4a4; 
    font-size: 20px; 
} 

.slide {
    background-color: #fff;
    padding: 30px 0 10px 0;
}

#meetus{
    background:url('../img/kym-steve.png') 50% 0 no-repeat fixed;
    // background: rgba(255, 86, 27, .3);
    color: $brown;
    background-size: cover;
    // font-weight: bold;
    // height: 500px;
}

#clean {
    background: rgba(222, 218, 206, .8);
    color: $brown;
}

#clean-list {
    background: url('../img/sponge-op90.png') 50% 0 no-repeat fixed;
    color: $brown;
    background-size: cover;
}

#garden {
    color: #333333;
}

#garden-list {
    background: url('../img/mower2-op55.png') 50% 0 no-repeat fixed;
    color: $brown;
    background-size: cover;
}

.services-list {
    padding: 120px 0;

    ul {
        display: block;
        font-family: 'Goudy Bookletter 1911', serif;
        font-weight: normal;
        font-size: 30px;

        li {
            list-style-type: none;
        }
    }
}

// *** Media Queries **

/* Small. Above 34em (544px) */
// @media screen and (min-width: 34em) {

//     #meetus {
//         margin-top: 7rem;
//     }
// }

// /* Medium. Above 48em (768px) */
// @media screen and (min-width: 48em) {

//     #meetus {
//         margin-top: 3rem;
//     }
// }

/* Large. Above 62em (992px) */
// @media screen and (min-width: 62em) {

// }

/* Extra large. Above 75em (1200px) */
// @media screen and (min-width: 75em) {

// }
