/* =================================
   SLIDES / SLIDES
   ================================= */

h3.quotes {
    color: $blue;
    font-weight: bold;
}

.quotes {
    //font-family: 'Goudy Bookletter 1911', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin: 30px auto 20px auto;
}

.author_name_white { 
    font-family:"Wellfleet"; 
    margin: 70px 0 0 75px; 
    color: #fff; 
    font-size: 20px;
} 

.author_name_gray { 
    font-family:"Wellfleet"; 
    margin: 70px 0 0 75px; 
    color: #94a4a4; 
    font-size: 20px; 
} 

.slide {
    padding: 30px 0 10px 0;
    position: relative;
    border-bottom: 2px solid $yellow;
    font-weight: bold;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(35,182,234,0.7);
}

#meetus{
    background:url('../img/kym-steve.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    background-size: cover;
    h3.quotes {
        color: $yellow;
    }
}

#clean {
    background: #fff;
    color: $brown;
}

#clean-list {
    background: url('../img/sponge.png') 50% 0 no-repeat fixed;
    color: $brown;
    background-size: cover;
}

#garden {
    background: #fff;
    color: $brown;
}

#garden-list {
    background: url('../img/mower.png') 50% 0 no-repeat fixed;
    color: $brown;
    background-size: cover;
}

.services-list {
    padding: 50px 0;

    ul {
        display: block;
	    font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
        font-size: 20px;
        color: $yellow;

        p {
	       color: #fff;
	       margin-bottom: 1rem;
	    }
    }
}

#quote {
    background: #fff;
    color: $brown;
    
    textarea {
        resize: none; // removes the resize handle bottom right 
        overflow: hidden; // no scroll 
    }
}

.form-control {
    background: $lightbluebg;  
}

input {
    #input-name {

        .form-control {
            background: rgba(222, 218, 206, .8);

            &:focus {  // trying to deal with User Agent Stylesheet Yellow colour auto fill text
                background: rgba(222, 218, 206, .8); 
                border-color: $darkgrey;
                outline: none;   
            }
        }
    }
}

.btn-primary {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    float: right;

    &:hover, &:active, &:focus, &:active:focus, &:active:hover {
        color: #fff;
        background-color: $blue;
        border-color: $blue;  
        outline: none; 
    }
}


// *** Media Queries **

/* Small. Above 34em (544px) */
// @media screen and (min-width: 34em) {

//     #meetus {
//         margin-top: 7rem;
//     }
// }

// /* Medium. Above 48em (768px) */
// @media screen and (min-width: 48em) {

//     #meetus {
//         margin-top: 3rem;
//     }
// }

/* Large. Above 62em (992px) */
// @media screen and (min-width: 62em) {

// }

/* Extra large. Above 75em (1200px) */
// @media screen and (min-width: 75em) {

// }
