/* =================================
   BASE / COLOURS
   ================================= */


// Colour Values
$orange: #ff561b;
// 255 86 27
$brown: #36332c;
// 54 51 44
$darkgrey: #767d6d;
// 118 125 109
$lightgrey: #dedace;
// 222 218 206

$blue: #23b6ea;
// 35 182 234
$bluetop: #2bbfed;
// 43 191 237
$lightbluebg: #e6ffff;
// 230 255 255
$yellow: #fdd93a;
// 253 217 58





