/* =================================
   BASE / COLOURS
   ================================= */


// Colour Values
$orange: #ff561b;
// 255 86 27
$brown: #36332c;
// 54 51 44
$darkgrey: #767d6d;
// 118 125 109
$lightgrey: #dedace;
// 222 218 206


// ** NAV BAR **/

.navbar-dark {

    .navbar-brand {
        color: $orange;
    }
    .navbar-brand:hover {
        color: $orange;
    }

    .navbar-nav {
        .nav-link {
            color: $lightgrey;   
        }
        .nav-link:hover {
            color: $orange;
        } 
    }

}

.bg-inverse {
    background-color: $brown;
}


// hamburger and border orange colour
.navbar-toggler {
    // unicode text
    color: $orange;
    border: $border-width solid $orange;
}



