/* =================================
   LAYOUT / FOOTER
   ================================= */

footer {

    background-color: $brown;
    overflow: hidden;
    padding-bottom: 1rem;

    ul {
        list-style: none;
        padding-left: 0;
        padding-top: 1rem;

        li {
            color: $lightgrey;  

            &.abn {
                font-size: x-small;
            }  
        }
    }

    span {
            color: $lightgrey;
            vertical-align: bottom;  

            &.abn {
                font-size: x-small;
            }  
        }
}