/* =================================
   LAYOUT / FOOTER
   ================================= */

footer {
    //border-top: 2px solid $yellow;
    background-color: $blue;
    overflow: hidden;
    padding-bottom: 1rem;

    h3.quotes {
        color: $yellow;
    }

    ul {
        list-style: none;
        padding-left: 0;
        padding-top: 1rem;

        li {
            //color: $lightgrey;  
	    color: #fff;
	    
	    a, a:hover, a:focus {
	    	color: #fff;
		text-decoration: none;
	    } 
        }
    }

    span {
            color: $lightgrey;
            vertical-align: bottom;  

            &.abn {
                font-size: x-small;
                color: $yellow;
            }  
        }
    }
/* =================================
   LAYOUT / FOOTER
   ================================= */

footer {

    h1 {
        font-size: remCalc(30); 
        font-family: 'Roberto', sans-serif; 
        padding-top: remCalc(20); 
        text-align: left; 
        color: $yellow; 
    }

    ul {
        padding-top: remCalc(18);

        li {
            font-size: remCalc(18); 
            font-family: 'Lato', sans-serif;
            color: #fff;
        }
    }

    //***  fb icon styling in _social.scss

   .abn {

        p {
            color: $yellow;
            font-size: smaller;
            margin-bottom: remCalc(35);
        }
    }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {

    footer {

        .row.business {
            position: relative;
        }

        .abn {

            position: absolute;
            right: 0;
            bottom: 0;

            p {
                color: $yellow;
                font-size: smaller;
                margin-bottom: 0;
            }
        }
    }
}
