/* =================================
   LAYOUT / FOOTER
   ================================= */

footer {

    background-color: $blue;
    overflow: hidden;
    padding-bottom: 1rem;

    h1 {
        font-size: remCalc(30); 
        font-family: 'Roberto', sans-serif; 
        padding-top: remCalc(20); 
        text-align: left; 
        color: $yellow; 
    }

    ul {
        
        list-style: none;
        padding-left: 0;
        padding-top: remCalc(18);

        li {
            font-size: remCalc(18); 
            font-family: 'Lato', sans-serif;
            color: #fff;

            a, a:hover, a:focus {
                color: #fff;
                text-decoration: none;
            } 
        }
    }

    //***  fb icon styling in _social.scss

   .abn {

        p {
            color: $yellow;
            font-size: smaller;
            margin-bottom: remCalc(35);
        }
    }
}

// *** Align 'F' facebook icon with ABN number

/* Small. Above 34em (544px) */
@media screen and (min-width: 34em) {

    footer {

        .row.business {
            position: relative;
        }

        .abn {

            position: absolute;
            right: 0;
            bottom: 0;

            p {
                color: $yellow;
                font-size: smaller;
                margin-bottom: 0;
            }
        }
    }
}
