
/* =================================
   LAYOUT / FORM
   ================================= */

#quote {
    background: #fff;
    color: $brown;
    padding-top: remCalc(40);
    padding-bottom: remCalc(40);

    p {
        font-size: remCalc(18); 
        font-family: 'Lato', sans-serif;
        padding-bottom: remCalc(20);
    }
    
    textarea {
        resize: none; // removes the resize handle bottom right 
        overflow: hidden; // no scroll 
    }
}

#success_message{
    display: none;
    font-size: remCalc(18); 
    font-family: 'Lato', sans-serif;
    padding-bottom: remCalc(20);
}

.form-control {
    background: $lightbluebg;  
}

input {
    #input-name {

        .form-control {
            background: rgba(222, 218, 206, .8);

            &:focus {  // trying to deal with User Agent Stylesheet Yellow colour auto fill text
                background: rgba(222, 218, 206, .8); 
                border-color: $darkgrey;
                outline: none;   
            }
        }
    }
}


